<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
</head>
<body>
    {{>navbar}}
    <div class="container-fluid main_header"> 
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-20 col-12 main_header_left">
                        <figure class="errimg">
                            <img src="https://webdeasy.de/wp-content/uploads/2020/06/404-pages.jpg" alt="Darshan" class="img-fluid" title="Darshan-tech">
                        </figure>
                        <p>Welcome to Darshan Tech</p>
                        <h1>{{errmsg}}</h1>
                        <a href="/" > <button>Go back</button></a>
                    </div>
                </div>
            </div>
        </div>
     </div>

    {{>footer}}
</body>
</html>