<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
</head>

<body>
    <!-- NAVBAR -->
     {{>navbar}}

    <!-- HEADER -->
     <div class="container-fluid main_header"> 
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="https://images.unsplash.com/photo-1627615608004-f6fba8eca2a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c2hhZG93JTIwYm95fGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="Darshan" class="img-fluid" title="Darshan-tech" height="250px">
                        </figure>
                    </div>
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather App</p>
                        <h1> I Am A <span class="text_clr"> MERN Stack Develper</span> And Freelancer</h1>
                        <a href="https://www.codewithharry.com/" target="_Darshan"> <button>About me</button></a>
                    </div>
                </div>
            </div>
        </div>
     </div>

     <!-- FOOTER -->
    {{>footer}}
</body>

</html>